<div class="container">
  <ng-container *ngFor="let name of names">
    <h1 *ngIf="name !== 'Juan'">Hola {{name}}</h1>
  </ng-container>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <input type="text" [(ngModel)]="name">
  <button class="btn-primary" (click)="onButtonClicked()">Pulsar</button>

  <h3>ngSwitch example</h3>
  <ul>
    <ng-container *ngFor="let person of people" [ngSwitch]="person.country">
      <li *ngSwitchCase="'ES'" class="text-danger">
        {{person.name}} ({{person.age}})
      </li>
      <li *ngSwitchCase="'FR'" class="text-primary">
        {{person.name}} ({{person.age}})
      </li>
      <li *ngSwitchDefault class="text-warning">
        {{person.name}} ({{person.age}})
      </li>
    </ng-container>
  </ul>
</div>
