<div class="container" *ngIf="user != null">
  <div class="row">
    <div class="col">
      Nombre: {{user.name}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      Edad: {{user.age}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      País: {{user.country}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" (click)="deleteClicked()">Borrar</button>
      <button class="btn btn-warning ml-1" [routerLink]="['edit']">Editar</button>
    </div>
  </div>
</div>
